|id,markname,orig_markname,filename,orig_filename,sessionstart,duration,anttype,orig_anttype,rectype,orig_rectype,antheight,lon,lat,ehgt,erre,errn,erru,refcount,refcodes,refminoffset,refmaxoffset,refmaxde,refmaxdn,refmaxdu,orbittype,seuw,starttime,endtime,baseline_wkt
