|LINZ PositioNZ-PP Job Summary
|
| Note: Land Information New Zealand (LINZ) does not provide a warranty of any 
| kind with respect to the accuracy of these results.  In no event shall LINZ
| be liable for loss of any kind whatsoever with respect to the use of these
| results.
|
| Title    : $+
| Submitted: $+ (local time)
| Status   : $+
|
=title
= LocalTime( submitted )
= status_info
* bernjobs
|=============================
|$$+
=report
